.main {
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 100vh;
}

.searchbar {
    font-size: x-large;
    margin: 1rem;
}

.results {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: flex-start;
}

.resultCell {
    width: 200px;
    height: 200px;
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 1px solid;
}