body {
	font-family: sans-serif;
	font-size: 16px;
	margin: 0px;
}

.box {
	width: 800px;
	height: 600px;
	margin: auto;
	background-color: turquoise;
	position: relative;
}

.box > img {
	width: 64px;
	object-fit: fill;
	position: absolute;
}

.top-left {
	left: 0;
	top: 0;
}

.top-right {
	top: 0;
	right: 0;
}

.bottom-left {
	bottom: 0;
	left: 0;
}

.bottom-right {
	bottom: 0;
	right: 0;
}
