#box {
	width: 100px;
	height: 100px;
    background-color: red;
    position: absolute;
}

#resize {
    width: 10px;
    height: 10px;
    background-color: blue;
    position: absolute;
    bottom: -5px;
    right: -5px;
}